{% extends "layout.html" %}
{% block content %}
<form action="/cities/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="city">City Name</label>
            <input id="city" type="text" class="form-control" placeholder="City Name" name="fldName">
        </div>
        <div class="col">
            <label for="state_id">State Abbreviation</label>
            <input id="state_id" t ype="text" class="form-control" placeholder="State Abbreviation"
                   name="state_id">
        </div>
        <div class="col">
            <label for="state_name">City State</label>
            <input id="state_name" type="text" class="form-control" placeholder="City State" name="state_name">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="lat">City Latitude</label>
            <input id="lat" type="text" class="form-control" placeholder="City Latitude" name="lat">
        </div>
        <div class="col">
            <label for="lng">City Longitude</label>
            <input id="lng" type="text" class="form-control" placeholder="City Longitude" name="lng">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="county_fips">County Population</label>

            <input id="county_fips" type="text" class="form-control" placeholder="County Population "
                   name="county_fips">
        </div>
        <div class="col">
            <label for="population">City Population</label>
            <input id="population" type="text" class="form-control" placeholder="Population" name="population">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}